<template>
  <v-app>
    <div id="background-image" />
    <div class="container">
      <div id="header">
        <h2 class="subtitle">Random password generator</h2>
      </div>

      <v-container
        id="box"
        class="flex-wrap justify-space-around"
        background-color="rgba(1,1,1,0.3)"
      >
        <div id="settings">
          <v-text-field
            id="length"
            v-model="passwordLength"
            label="Length"
            color="#ffffff"
            autocomplete="off"
            class="centered-input text-center"
            :rules="rules.length"
            required
          ></v-text-field>
          <v-btn rounded color="#ffa500" light @click="randomLength()"
            >Random length</v-btn
          >

          <v-switch
            v-model="alphanumeric"
            class="mx-2 text-center"
            color="#ffa500"
            label="Letters and digits only"
          ></v-switch>

          <v-switch
            v-model="uniqueCharacters"
            class="mx-2 centered-input"
            color="#ffa500"
            label="Unique characters"
          ></v-switch>

          <v-btn rounded color="#ffa500" light @click="createPassword()"
            >Generate password</v-btn
          >
        </div>

        <div id="passwordList">
          <v-textarea
            id="passwords"
            v-model="passwordList"
            cols="30"
            rows="7"
            background-color="rgba(0, 0, 0, 0.2)"
            readonly
          ></v-textarea>
          <div id="boutons">
            <v-btn rounded color="#ffa500" light @click="copyToClipboard()"
              >Copy to clipboard</v-btn
            >

            <v-btn rounded color="#ffa500" light @click="clearPasswordsList()"
              >Clear</v-btn
            >
          </div>
        </div>
      </v-container>
    </div>
    <footer>
      <p>
        Photo by
        <a
          href="https://unsplash.com/@flysi3000?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
          >Simon Abrams</a
        >
        on
        <a
          href="https://unsplash.com/s/photos/computer?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
          >Unsplash</a
        >
      </p>
      <p>
        Icons by
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
          >Freepik</a
        >
        on
        <a href="https://www.flaticon.com/" title="Flaticon">Flaticon</a>
      </p>
    </footer>
  </v-app>
</template>

<script lang="ts">
enum Type {
  UPPERCASE_LETTER,
  LOWERCASE_LETTER,
  DIGIT,
  SYMBOL,
  UNDEFINED
}

import Vue from "vue";

export default Vue.extend({
  name: "App",

  components: {},

  data: () => ({
    passwordLength: "15",
    alphanumeric: false,
    uniqueCharacters: true,
    passwordList: "",
    rules: {
      length: [
        (numberStr: string) =>
          parseInt(numberStr) >= 15 ||
          `The password must be at least 15 characters long`
      ]
    },

    symbolsInit: "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~",
    digitsInit: "0123456789",
    lowercaseLettersInit: "abcdefghijklmnopqrstuvwxyz",
    uppercaseLettersInit: "ABCDEFGHIJKLMNOPQRSTUVWXYZ",

    symbols: "",
    digits: "",
    lowercaseLetters: "",
    uppercaseLetters: ""
  }),

  methods: {
    /**
     * Initializes the symbols, digits and letter strings
     */
    initialization() {
      this.symbols = this.symbolsInit;
      this.digits = this.digitsInit;
      this.lowercaseLetters = this.lowercaseLettersInit;
      this.uppercaseLetters = this.uppercaseLettersInit;
    },

    /**
     * @param char {string} the char we want to get the type
     * @returns {Type} the type of the char passed as argument
     */
    getType(char: string) {
      let type = Type.UNDEFINED;

      if (this.uppercaseLettersInit.includes(char)) {
        type = Type.UPPERCASE_LETTER;
      } else if (this.lowercaseLettersInit.includes(char)) {
        type = Type.LOWERCASE_LETTER;
      } else if (this.digitsInit.includes(char)) {
        type = Type.DIGIT;
      } else if (this.symbolsInit.includes(char)) {
        type = Type.SYMBOL;
      }

      return type;
    },

    /**
     * @param min {number} the lower bound
     * @param max {number} the upper bound
     * @returns {number} a random number between min and max (both included)
     */
    getRandomNumber(min: number, max: number) {
      return Math.floor(Math.random() * (max - min + 1) + min);
    },

    /**
     * @param forbiddenType {Type} the type we want to avoid
     * @param alphanumeric {boolean} if true: removes Type.SYMBOL from the available types
     * @returns {Array<Type>} an array containing all the available types
     */
    getAvailableTypes(forbiddenType: Type, alphanumeric: boolean) {
      const availableTypes: Array<Type> = [];

      if (
        forbiddenType !== Type.UPPERCASE_LETTER &&
        this.uppercaseLetters.length > 0
      ) {
        availableTypes.push(Type.UPPERCASE_LETTER);
      }

      if (
        forbiddenType !== Type.LOWERCASE_LETTER &&
        this.lowercaseLetters.length > 0
      ) {
        availableTypes.push(Type.LOWERCASE_LETTER);
      }

      if (forbiddenType !== Type.DIGIT && this.digits.length > 0) {
        availableTypes.push(Type.DIGIT);
      }

      if (
        !alphanumeric &&
        forbiddenType !== Type.SYMBOL &&
        this.symbols.length > 0
      ) {
        availableTypes.push(Type.SYMBOL);
      }

      return availableTypes;
    },

    /**
     * @param availableTypes {Array<Type>} array containing all the available types
     * @returns {Type} a random Type from the array passed as argument
     */
    getRandomType(availableTypes: Array<Type>) {
      const randomIndex = this.getRandomNumber(0, availableTypes.length - 1);
      return availableTypes[randomIndex];
    },

    /**
     * @param str {string} a string
     * @returns {string} a character picked randomly from the string passed as argument
     */
    getRandomLetter(str: string) {
      const randomIndex = this.getRandomNumber(0, str.length - 1);
      return str.charAt(randomIndex);
    },

    /**
     * @param length {number} the length of the password
     * @param uniqueChars {boolean} if true: every character in the password is used only once
     * @param alphanumeric {boolean} if true: no symbols are allowed
     * @returns {string} the password
     */
    buildPassword(length: number, uniqueChars: boolean, alphanumeric: boolean) {
      this.initialization();
      let password = "";

      let forbiddenType: Type = Type.UNDEFINED;
      let randomType: Type;
      let availableTypes: Array<Type>;

      let randomLetter = "";

      for (let i = 1; i <= length; i++) {
        availableTypes = this.getAvailableTypes(forbiddenType, alphanumeric);
        randomType = this.getRandomType(availableTypes);

        switch (randomType) {
          case Type.UPPERCASE_LETTER:
            randomLetter = this.getRandomLetter(this.uppercaseLetters);
            if (uniqueChars) {
              this.uppercaseLetters = this.uppercaseLetters.replace(
                randomLetter,
                ""
              );
            }
            break;

          case Type.LOWERCASE_LETTER:
            randomLetter = this.getRandomLetter(this.lowercaseLetters);
            if (uniqueChars) {
              this.lowercaseLetters = this.lowercaseLetters.replace(
                randomLetter,
                ""
              );
            }
            break;

          case Type.DIGIT:
            randomLetter = this.getRandomLetter(this.digits);
            if (uniqueChars) {
              this.digits = this.digits.replace(randomLetter, "");
            }
            break;

          case Type.SYMBOL:
            randomLetter = this.getRandomLetter(this.symbols);
            if (uniqueChars) {
              this.symbols = this.symbols.replace(randomLetter, "");
            }
            break;

          default:
            break;
        }

        password += randomLetter;
        forbiddenType = this.getType(randomLetter);
      }

      return password;
    },

    createPassword() {
      const length = parseInt(this.passwordLength);
      const password = this.buildPassword(
        length,
        this.uniqueCharacters,
        this.alphanumeric
      );
      this.passwordList += password + "\n";
    },

    copyToClipboard() {
      (document.getElementById("passwords") as HTMLTextAreaElement).select();
      document.execCommand("copy");
    },

    clear() {
      const textArea = document.getElementById(
        "passwords"
      ) as HTMLTextAreaElement;
      if (textArea) {
        textArea.value = "";
      }
    },

    randomLength() {
      this.passwordLength = this.getRandomNumber(15, 64).toString(10);
    },

    clearPasswordsList() {
      this.clear();
      this.passwordList = "";
    }
  }
});
</script>

<style>
@import "./assets/scss/style.css";
</style>
